<!DOCTYPE html>
<html>
<head>
  <title>Farm</title>
  <%= javascript_include_tag 'swfobject' %>
  <%= stylesheet_link_tag 'style' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
